FileSystemWatcherServices/Web References/HRW/HRW.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LayDanhSachTheoNgay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tungay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="denngay" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sophieu" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IsLayLai" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDanhSachTheoNgayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayDanhSachTheoNgayResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNhanDuLieu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idchidinhCT" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateNhanDuLieuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateNhanDuLieuResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKetQua">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sophieu" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="vungks" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mota" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ketluan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngayxacnhan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bsthuchien" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DaKetQua" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateKetQuaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateKetQuaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HuyKetQua">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sophieu" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HuyKetQuaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HuyKetQuaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LayDanhSachTheoNgaySoapIn">
    <wsdl:part name="parameters" element="tns:LayDanhSachTheoNgay" />
  </wsdl:message>
  <wsdl:message name="LayDanhSachTheoNgaySoapOut">
    <wsdl:part name="parameters" element="tns:LayDanhSachTheoNgayResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateNhanDuLieuSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateNhanDuLieu" />
  </wsdl:message>
  <wsdl:message name="UpdateNhanDuLieuSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateNhanDuLieuResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateKetQuaSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateKetQua" />
  </wsdl:message>
  <wsdl:message name="UpdateKetQuaSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateKetQuaResponse" />
  </wsdl:message>
  <wsdl:message name="HuyKetQuaSoapIn">
    <wsdl:part name="parameters" element="tns:HuyKetQua" />
  </wsdl:message>
  <wsdl:message name="HuyKetQuaSoapOut">
    <wsdl:part name="parameters" element="tns:HuyKetQuaResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="LayDanhSachTheoNgay">
      <wsdl:input message="tns:LayDanhSachTheoNgaySoapIn" />
      <wsdl:output message="tns:LayDanhSachTheoNgaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanDuLieu">
      <wsdl:input message="tns:UpdateNhanDuLieuSoapIn" />
      <wsdl:output message="tns:UpdateNhanDuLieuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKetQua">
      <wsdl:input message="tns:UpdateKetQuaSoapIn" />
      <wsdl:output message="tns:UpdateKetQuaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HuyKetQua">
      <wsdl:input message="tns:HuyKetQuaSoapIn" />
      <wsdl:output message="tns:HuyKetQuaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayDanhSachTheoNgay">
      <soap:operation soapAction="http://tempuri.org/LayDanhSachTheoNgay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanDuLieu">
      <soap:operation soapAction="http://tempuri.org/UpdateNhanDuLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKetQua">
      <soap:operation soapAction="http://tempuri.org/UpdateKetQua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuyKetQua">
      <soap:operation soapAction="http://tempuri.org/HuyKetQua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LayDanhSachTheoNgay">
      <soap12:operation soapAction="http://tempuri.org/LayDanhSachTheoNgay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanDuLieu">
      <soap12:operation soapAction="http://tempuri.org/UpdateNhanDuLieu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKetQua">
      <soap12:operation soapAction="http://tempuri.org/UpdateKetQua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HuyKetQua">
      <soap12:operation soapAction="http://tempuri.org/HuyKetQua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:11091/HRW.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:11091/HRW.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>